<div class="container">
  <a class="btn btn-primary" style="position: relative;top: 10px" routerLink="/book-detail">Add</a>
  <table>
    <caption>Statement Summary</caption>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Content</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books |  paginate: { itemsPerPage: 10, currentPage: p , totalItems: total}">
        <td data-label="Account"> {{book.id}}</td>
        <td data-label="Due Date">
          <a routerLink="/book-detail/{{book.id}}">{{book.name}}</a>
        </td>
        <td data-label="Amount">{{book.price}}</td>
        <td data-label="Period">{{book.content}}</td>
        <td>
          <button class="btn btn-danger" title="delete book" (click)="delete(book)">Delete</button>
          <a class="btn btn-primary" style="margin: 5px" routerLink="/book-detail/{{book.id}}">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>