<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Book Online</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/dashboard">Dashboard
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/book">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <app-book-search></app-book-search>
  </div>
</nav>
<router-outlet></router-outlet> -->
<div id="home">
  <app-menu-bar></app-menu-bar>
  <div class="innerf-pages section">
    <div class="container-cart">
      <!-- product left -->
      <div class="side-bar col-md-3">
        <app-category></app-category>
        <app-search-item></app-search-item>
        <div class="customer-rev left-side">
          <h3 class="shopf-sear-headits-sear-head">Customer Review</h3>
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <span>5.0</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <span>4.0</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <span>3.5</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <span>3.0</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <span>2.5</span>
              </a>
            </li>
          </ul>
        </div>
      
      </div>
      <!-- //product left -->
      <!-- product right -->
      <app-book-front></app-book-front>

    </div>
  </div>
  <div class="footer-bottom section">
    <div class="container">
      <!-- newsletter -->
      <div class="subscribe-main section-w3layouts text-center">
        <h4 class="rad-txt">
          <span class="abtxt1">keep yourself</span>
          <span class="abtext">updated</span>
        </h4>
        <h5>subscribe to our newsletter to stay up-to-date with our projects.</h5>
        <div class="subscribe-form">
          <form action="#" method="post" class="subscribe_form">
            <div class="email-news">
              <input type="email" placeholder="Email" required="">
            </div>
            <div class="sub-news">
              <input type="submit" value="subscribe">
            </div>
          </form>
          <div class="clearfix"> </div>
        </div>
        <p>We respect your privacy.No spam ever!</p>
      </div>
      <!-- //newsletter ends here -->
      <!-- footer grids-->
      <div class="footer-cpy">
        <!-- footer-grid1 -->
        <div class="col-md-3 col-sm-6 footer-logo">
          <h3>
            <a href="index.html">Chronicle</a>
          </h3>
          <h4>about us</h4>
          <p>Vallis Molestie Arcu Morbi Dapibus Suscipit Ante Sit Efficitur Eu estie Arcu Mor Anestie Ate Vesti.</p>
        </div>
        <!-- //footer-grid1 -->
        <!-- footer-grid2 -->
        <div class="col-md-3 col-sm-6 footer-nav text-center">
          <h4>navigation</h4>
          <ul>
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="about.html">About us</a>
            </li>
            <li>
              <a href="shop.html">shop</a>
            </li>
            <li>
              <a href="contact.html">contact us</a>
            </li>
          </ul>
        </div>
        <!-- //footer-grid2 -->
        <!-- footer-grid3 -->
        <div class="col-md-3 col-sm-6 blog-footer">
          <h4>latest from blog</h4>
          <div class="blog1">
            <div class="col-md-3 col-sm-3 col-xs-2 bl1">
              <a href="#">
                <img src="images/b1.jpg" alt="" class="img-responsive">
              </a>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-10 bl2">
              <a href="#">Dapibus Suscipit Ante Sit by instagram</a>
              <p>February 15, 2018</p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="blog1">
            <div class="col-md-3 col-sm-3 col-xs-2 bl1">
              <a href="#">
                <img src="images/b2.jpg" alt="" class="img-responsive">
              </a>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-10 bl2">
              <a href="#">Dapibus Suscipit Ante Sit by instagram</a>
              <p>February 20, 2018</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- //footer-grid3 -->
        <!-- footer-grid4 -->
        <div class="col-md-3 col-sm-6 contact-foot text-right">
          <h4>contact us</h4>
          <ul>
            <li>
              <span class="fa fa-home"></span>
              1185 Burlington
              <br> Canada.
            </li>
            <li>
              <span class="fa fa-phone"></span>
              +12 345 678
            </li>
            <li>
              <span class="fa fa-envelope"></span>
              <a href="mailto:info@example.com">mail@chronicle.com</a>
            </li>
          </ul>
        </div>
        <!-- //footer-grid4 -->
        <div class="clearfix"></div>
      </div>
      <!-- //footer-grids -->
      <!-- footer social -->
      <div class="footer-social text-center">
        <h4>stay connected</h4>
        <ul>
          <li>
            <a href="#">
              <span class="fa fa-facebook icon_facebook"></span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="fa fa-twitter icon_twitter"></span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="fa fa-dribbble icon_dribbble"></span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="fa fa-google-plus icon_g_plus"></span>
            </a>
          </li>
        </ul>
      </div>
      <!-- //footer social -->
    </div>
    <!-- //footer container -->
  </div>
</div>
<router-outlet></router-outlet> -->