<!--preference -->
<div class="left-side">
    <h3 class="shopf-sear-headits-sear-head">
        Categories</h3>
    <ul>
        <li>
            <input type="checkbox" class="checked">
            <span class="span">Biographies</span>
        </li>
        <li>
            <input type="checkbox" class="checked">
            <span class="span">Fiction</span>
        </li>
        <li>
            <input type="checkbox" class="checked">
            <span class="span">Management</span>
        </li>
        <li>
            <input type="checkbox" class="checked">
            <span class="span">Business</span>
        </li>

    </ul>
</div>
<!-- // preference -->