<!-- row1-->
<div class="col-md-3 product-men" *ngFor='let book of books'>
    <div class="product-chr-info chr">
        <div class="thumbnail">
            <a href="single_product.html">
                <img src="../assets/images/lib8.jpg" alt="">
            </a>
        </div>
        <div class="caption">
            <h4>{{book.name}}</h4>
            <p>Clayton Barton</p>
            <div class="matrlf-mid">
                <ul class="rating">
                    <li>
                        <a href="#">
                            <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-star gray-star" aria-hidden="true"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-star gray-star" aria-hidden="true"></span>
                        </a>
                    </li>
                </ul>
                <ul class="price-list">
                    <li>$ {{book.price}}</li>
                    <li>
                        $ {{book.discount}}
                    </li>
                </ul>

                <div class="clearfix"> </div>
            </div>
            <form action="#" method="post">
                <input type="hidden" name="cmd" value="_cart">
                <input type="hidden" name="add" value="1">
                <input type="hidden" name="chr_item" value="Book1">
                <input type="hidden" name="amount" value="100.00">
                <button type="submit" class="chr-cart pchr-cart">Add to cart
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                </button>
                <a href="#" data-toggle="modal" data-target="#myModal1"></a>
            </form>
        </div>
    </div>
</div>
<div class="clearfix"> </div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <ngb-pagination [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="7" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
    </div>
    <div class="col-md-4"></div>
</div>